.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    position: absolute;
    top: 200px;
    grid-gap: 20px;
    width: 100%;
}

.empty-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 150px;
}

.empty-container img {
    width: 200px;
    height: 230px;
    margin-bottom: 20px;
    opacity: 0.2;
}

.empty-container p {
    font-size: 25px;
    font-family: 'Cabin';
    color: #ccc;
}

.cards {
    border-radius: 20px;   
    background: #fff;
    position: relative;
    padding-bottom: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
    transition: 0.5s ease;
    width: 250px;
    height: 460px;
    border: 1px solid #ccc;
}

.poster-link {
    width: 251px;
    height: 301px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.poster-link, .titles, .year {
    margin-bottom: 20px;
}

.titles {
    font-size: 20px;
    font-weight: bold;
}

.card-close {
    position: absolute;
    top: 13px;
    right: 10;
    cursor: pointer;
    font-size: 16px;
    background: red;
    padding: 4px 5px;
    border-radius: 80%;
    color: #fff;
    border: none;
}

.card-close:hover {
    background: #fff;
    color: red;
    transition: all 0.5s ease-in-out;
}

.fall {
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

.btns {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.cards p {
    font-size: 12px;
}

.fa-star {
    color: #ffd700;
}

.fa-plus {
    transform: rotate(45deg);
    pointer-events: none;
}